header {
  height: 100px;
  background-color: burlywood;

  h2 {
    margin: 0;
    padding-top: 35px;
    text-align: center;
    color: white;
    font-weight: 900;
    -webkit-text-stroke: 1px #000;
    cursor: default;
  }
}

img {
  width: 250px;
}
